<!DOCTYPE html>
<html>
	<head>
		<title>FitBuddy Monitor</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
		<link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
		<link rel="stylesheet" href="thema.css">
		</script>
	</head>
	<body ng-app="" >
		<div>
		<input type="text" ng-model="name" />
		<button ng-click="reqdata">Request Data</button>
		</div>
		<p>ishidfsbnudbsadsdbaudasbusdbasdbdaduzsfbuazdfgbauzedfbuazefdbquFUABHFBAUFBSABUAFBUAFU</p>
		<p>{{name}}</p>
	</body>
</html>
