/*****************************************************\
**                                                    **
**             WRITTEN BY MAARTEN WACHTERS            **
**               International Project                **
**                                                    **
\*****************************************************/
body {
  font-family: 'Noto Sans', sans-serif;
  background-color: #06AED5;
  text-align: left;
  font-size: 16px;
  color: #fff;
}

h1 {
  font-size: 64px;
}

p  {
  font-size: 24px;
}

.inputfield {
  margin-bottom: 100px;


}
button{
  color: black;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  display: inline-block;
  padding: 15px 15px;
  border: 2px rgba(0,0,0,0.25) solid;
}

input {
  color: black;
  width: 400px;
  padding: 15px 20px;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.inputfield {
  height: 100px;
  text-align: center;
  padding-top: 40px;
}

.opm {
  font-weight: bold;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.74);
  text-align: center;
}
