body {
  font-family: 'Noto Sans', sans-serif;
  background-color: #06AED5;
  text-align: left;
  font-size: 16px;
  color: #fff;
}

button{
  color: black;
}

input {
  color: black;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.inputfield {
  height: 100px;
  text-align: center;
  padding-top: 40px;
}
